extends layout

block content
  form(method='GET', action='')
    div.form-group
      label(for='sort_by') Sort By:
      select#sort_by.form-control(type='select' name='sort_by')
        option(value='' disabled selected=sort_by ? false : true) Choose Sort
        option(value='title' selected=sort_by=='title' ? true : false) Title
        option(value='platform' selected=sort_by=='platform' ? true : false) Platform
        option(value='publisher' selected=sort_by=='publisher' ? true : false) Publisher

    button.btn.btn-primary(type='submit') Apply

  div(style='max-width: 600px; margin-top: 10px')
    h1= title
    dl
      each game in games_list
        dt(style='font-size: 18px;')
          a(href=game.url) !{game.title}
          span(style='font-size: 14px') (
            each platform, index in game.platform
              a(href=platform.url style='color:black')
                span !{platform.name}

              if index < (game.platform.length -1)
                |,
              else
                |)
          p(style='font-size:12px') !{game.publisher.name}
        dd !{game.description}

      else
        p There are no games in the library
