extends layout

block content
  form(method='GET', action='')
    div.form-group
      label(for='sort_by') Sort By:
      select#sort_by.form-control(type='select' name='sort_by' value=(sort_option==null) ? '': sort_option)
        option(value='') Choose Sort
        option(value='title') Title
        option(value='availability') Availability
      label(for='filter_by') Filter Game:
      select#filter_by.form-control(type='select' name='filter_by' placeholder='Select sort option' value=(sort_option==null) ? '': sort_option)
        option(value='') Choose Game
        each game in game_list
          option(value=game.id) !{game.title}

    button.btn.btn-primary(type='submit') Apply

  div(style='margin-top: 10px;')
  h1= title

  dl
    each instance in gameinstance_list
      dt
        a(href=instance.url) !{instance.game.title}: #{instance._id}
      dd Status:
        if instance.status == 'Available'
          span.text-success  #{instance.status}
        else if instance.status == 'Reserved' || instance.status == 'Loaned'
          span.text-warning  #{instance.status}
        else
          span.text-danger  #{instance.status}
        if instance.status != 'Available'
          span  (Available: #{instance.due_date_formatted} )
    else
      p There are no game copies in this library.
