extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title
      input#title.form-control(type='text' name='title' required placeholder='Enter game title' value=(game==null) ? '': game.title)

      label(for='description') Summary
      textArea#description.form-control(type='text' name='description' rows='4' cols='60' required placeholder='Enter a brief summary:' value=(game==null) ? '': game.description)

      div.form-group
      p Genre
      each genre in genre_list
        div(style='display: inline; padding-right:10px;')
          input.checkbox-input(type='checkbox' name='genre' id=genre._id value=genre._id checked=genre.checked)
          label(for=genre._id) #{genre.name}


      label(for='publisher') Publisher
      select#publisher.form-control(placeholder='Select Publisher' required type='select' name='publisher' value=(game==null) ? '': game.platoform)
        each publisher in publisher_list
          option(value=publisher._id) #{publisher.name}

      label(for='platform') Platform
      select#platform.form-control(placeholder='Select Platform' required type='select' name='platform' value=(game==null) ? '': game.platform)
        each platform in platform_list
          option(value=platform._id) #{platform.name}

      label(for='releaseDate')
      input#releaseDate.form-control(type='date' name='release_date' placeholder=Date.now value=(game==null) ? '': game.releaseDate)

      button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      each error in errors
        li!= error.msg
