extends layout

block content
  h1 #{title} #{genre.name}
  if games_list.length
    p You must delete the following games before you can delete the genre:
    div(style='margin-left: 20px, margin-top: 20px')
      h3 Games
        dl
          each game in games_list
            dt
              a(href=game._id) #{game.title}
            dd #{game.description}

  else
    p Are you sure you want to delete this genre?
    form(method="POST" action="")
      input#genre_id(type='hidden' name='genre_id' value=genre._id)
      button.btn.btn-primary(type='submit') Delete
