extends layout

block content
  h1 #{title} #{platform.name}

  if games_list.length
    p Delete the following games before deleting this publisher:

    h3 Games
      dl
        each game in games_list
          dt #{game.title}
          dd #{game.description}
        else
          There are no games on this platform.
  else
    p Are you sure you want to delete this platform?
    form(method='POST', action='')
      input#platform_id(type='hidden' name='platform_id' value=platform._id)
      button.btn.btn-primary(type='submit') Delete
