extends layout

block content
  h1 #{title}: #{platform.name}

  p #[strong Release Date:] #{platform.releaseDateFormatted}
  p #[strong Company:] #{platform.company}

  div(margin-left: 20px, margin-top:20px)
    h3 Games
    ul
      each game in games_list
        li
          a(href=game.url) #{game.title}
      else
        p There are no games in this library.

  hr
  p
    a(href=platform.url+'/delete') Delete Platform
  hr
  p
    a(href=platform.url+'/update') Update Platform
