extends layout

block content
  h1 #{title} #{publisher.name}

  if games_list.length
    p Delete the following games before deleting this publisher:

    h3 Games
      dl
        each game in games_list
          dt #{game.title}
          dd #{game.description}
        else
          There are no games by this publisher.
  else
    p Are you sure you want to delete this publisher?
    form(method='POST', action='')
      input#publisher_id(type='hidden' name='publisher_id' value=publisher._id)
      button.btn.btn-primary(type='submit') Delete
